.hero {
    height: auto;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-color: #2f303a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero_s.png);
    
    @include mq(retina) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero_s@2x.png)
    }
    
    @include mq(tablet) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/bg-hero_m.png);
    
        @include mq (retina) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero_m@2x.png)
        }
    }
    
    @include mq(desktop) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/bg-hero_l.png);
    
        @include mq (retina) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero_l@2x.png)
        }
    }

    &-title{
        box-sizing: border-box;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
        max-width: 696px;
        color: $white-color;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
}


.button {
    box-sizing: border-box;
    width: 220px;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    margin-right: auto;
    margin-left: auto;
    color: $white-color;
    background-color: $blue-color;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: none;
    border: none;
}

