.box {
    padding: 0px;
    margin-top: 9px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
    font-weight: 400;
    font-style: normal;
}

.card-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 250ms $timing-function,
        transform 250ms $timing-function;
    
    &-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        padding: 63px 24px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        color: $white-color;
    }

    .examples-link:hover &,
    .examples-link:focus &{
        opacity: 1;
        transform: translateY(0);
    }

}

.card-content {
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.caption {
    color: $primary-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    &-text{
        margin-top: 4px;
        color: $secondary-color;
        font-size: 16px;
        line-height: 1.9;
    }
}

.holder {
    padding-top: 6px;
    padding-left: 22px;
    padding-bottom: 6px;
    padding-right: 22px;
    border: 0;
    border-radius: 4px;
    transition: color 250ms,
        $timing-function, box-shadow 250ms,
        $timing-function, backgrond-color 250ms,
        $timing-function;

    &:hover,
    &:focus{
        color: $white-color;
        background-color: $blue-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}


.menu-port>li+li {
    margin-left: 8px;
}

.menu-port.current {
    color: $white-color;
    background-color: $blue-color;
}

.conteiner {
    color: $primary-color;
    background-color: #f5f4fa;
    font-family: Roboto, serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
}

.hero-port {
    padding-top: 94px;
    padding-bottom: 94px;
}

.menu-port {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3 - 30px);
    margin-right: calc(-1* $gap);
    margin-bottom: calc(-1* $gap);
}

.examples-port {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: calc($gap);
    margin-bottom: calc($gap);
}

.examples-link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms $timing-function;

    &:hover,
    &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.menu-port .current {
    background-color: $blue-color;
    color: $white-color;
}