.clients-list{
    @media screen and(max-width: 480px){
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc(100% / 2 - $gap);
        width: 480px;
        
        
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc((100% / 3) - $gap);
    }
    
    @media screen and (min-width:1200px) {
        display: flex;
        align-items: center;
        gap: 0;
    }
}

.clients-item{
    @media screen and (max-width:480px) {
        display: flex;
        width: 170px;
        height: 92px;
        padding: 0;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: $gap;

        &:not:last-child {
            margin-bottom: $gap;
        }
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        &:nth-child(-n+3) {
            margin-bottom: $gap
        }
    }
    
    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 226px;
        height: 92px;

        .clients-item+.clients-item {
            margin-left: $gap;
        }
    }
    
    @media screen and (min-width:1200px) {
        width: 170px;
        height: 92px;
    }
    
    @media screen and (min-width:1200px) {
        &:not(:last-child) {
            margin-right: $gap;
        }
    }
}

.clients-link{
    @media screen and(min-width: 480px) {
        margin: 0;
        padding: 0;
    }
}