.footer{
    @media screen and (max-width:767px) {
        display: block;
        text-align: center;
    }

    @media screen and (min-width:768px) and(max-width: 1199px){
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc(100%/2);
    }

    @media screen and (min-width:1200px) {
        display: flex;
        align-items: baseline;
        text-align: left;
    }
}

.footer-adres{
    @media screen and (max-width:767px) {
        margin-bottom: 60px;
    }
    
    @media screen and (min-width:1200px) {
        text-align: left;
        flex-grow: 1;
    }
}

.logo{
    @media screen and (max-width:767px){
        margin-right: auto;
        margin-left: auto;
    }
}

.conect-us{
    @media screen and(max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width:1200px) {
        margin-left: 70px;
    }
}

.footer-text{
    @media screen and (min-width:1200px) {
        text-align: left;
    }
}

.footer-list{
    @media screen and (max-width:767px) {
        justify-content: center;
    }
}

.signature-form{
    @media screen and (max-width: 767px) {
        margin: 0;
    }


    @media screen and (min-width:768px) and (max-width:1199px) {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    @media screen and (min-width:1200px) {
        margin-left: 93px;
    }
}

.flex-form{
    @media screen and(max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
    }
    
}

.form-subscribe{
    @media screen and(max-width: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (min-width:768px) and (max-width:1199px){
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width:1200px) {
        display: flex;
    }
}

.form-input{
    @media screen and(min-width:320px) and (max-width: 767px){
        width: 290px;
    }

    @media screen and (min-width:480px) {
        width: 450px;
    }
    
    @media screen and (max-width:1199px) {
        margin-bottom: 20px;
    }
    
    @media screen and (min-width:1200px) {
        width: 358px;
    }
}

.form-button{
    @media screen and(max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width:768px) and (max-width:1199px){
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width:1200px) {
        margin-left: 12px;
    }
}

.footer-wrapper{
    @media screen and (max-width:767px) {
        margin-bottom: 60px;
    }
    
    @media screen and (min-width:768px) and (max-width:1199px) {
        display: inline-flex;
        justify-content: space-around;
        text-align: center;
        margin-bottom: 60px;
        width: 768px;
    }
    
    @media screen and (min-width:1200px) {
        display: flex;
        align-items: baseline;
    
    }
}