.hero{
    @media screen and (max-width: 481px) {
        height: auto;
        max-width: 480px;
    }
}

.hero-titlte{
    @media screen and (max-width: 480px) {
        max-width: 696px;
    }
}
.hero{
    @media not all, not all, screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx){
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero_s@2x.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero_s@2x.png);}
}