.employeers{
    @media screen and (min-width:320px) and (max-width: 767px){
        display: inline;
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc((100% / 2) - $gap );
        gap: 30px;   
        margin-left: - $gap; 

        &:nth-child(3) {
            margin-left: 0;
        }
    }

    @media screen and (min-width:1200px) {
        display: flex;
    }
}

.team-image{
    @media screen and (min-width:480px) {
        width: 450px;
        height: 460px;
    }
    
    @media screen and (min-width:768px) {
        width: 354px;
        height: 374px;
    }
    
    @media screen and (min-width:1200px) {
        width: 270px;
        height: 260px;
    }
}

.employee{
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width:320px) and (max-width: 767px) {
        width: 450px;
    }

    @media screen and (max-width: 767px){
        .employeers> .employee + .employee{
            margin-left: 0;
        }
    }

    @media screen and (max-width:767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width:480px) and (max-width:767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    
    @media screen and (min-width:768px) and (max-width:1199px) {

        width: 354px;
        
        .employeers>&+& {
            margin-left: 0;
        }
    }

    @media screen {
        
    }
    
    @media screen and (min-width:1200px) {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

}



.photo{
    width: 100%;
    height: auto;
    
    @media screen and (min-width:320px) and (max-width: 767px){
        display: block;
        width: 450px;
        height: auto;
    }

    @media screen and(min-width: 768px) {
        width: 354px;
        height: 374px;
    }
    
}